<p id="notice"><%= notice %></p>

<h1>Competitions</h1>

<table id=index_table>
  <thead>
    <tr>
      <th>Competition name</th>
      <th>Max markets</th>
      <th>Market velocity b</th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.competition_name %></td>
        <td><%= competition.max_markets %></td>
        <td><%= competition.market_velocity_b %></td>
        <td><%= link_to 'RUN', competition_runs_path(competition) %></td>
        <td><%= link_to 'Maintain Ideas', competition %></td>
        <td><%= link_to 'Maintain Parameters', edit_competition_path(competition) %></td>
        <td><%= link_to '!!DELETE!!', competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition', new_competition_path %>
